.advantages {
  margin: 0;
  margin-bottom: 33px;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.advantages__wrapper {
  max-width: 483px;
  margin: 0 auto;
  padding: 32px 12px 11px 11px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after{
      background-image: url("../../img/index/intro-triangle-down.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100%;
      width: 768px;
      height: 37px;
      position: absolute;
      content: "";
      z-index: 1;
    }
  }
}

.advantages__slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages__text {
  line-height: 26px;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  counter-reset: advantages;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/index/advantages_triangle.svg");
      background-position-x: center;
      background-position-y: bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 37px;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  background-color: $basic-grey-200;
  counter-increment: advantages;
  position: relative;

  &:nth-child(n+3):not(:last-child) {
    position: relative;

    @media (max-width: $mobile-width-only) {
      &::after {
        position: absolute;
        content: "";
        width: calc(100% - 40px);
        height: 1px;
        background-color: #d6d6d6;
        left: 20px;
        bottom: 0;
      }
    }
  }

  &:nth-child(n+3) {
    .advantages__item-wrapper {
      padding: 0;
    }
  }
}

.advantages__item--image {
  background-color: $basic-blue;
  color: $basic-white;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 37px;
  }

  @media (max-width: $mobile-width-only) {
    &:first-child {
      padding-top: 71px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &::after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    grid-column: span 2;
  }
}

.advantages__item--image:first-child::after {
  background-image: url("../../img/index/photo-city-tablet@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-city-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/photo-city-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-city-desktop@2x.jpg");
  }
}

.advantages__item--image:nth-child(2)::after {
  background-image: url("../../img/index/photo-bridge-tablet@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-bridge-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/photo-bridge-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-bridge-desktop@2x.jpg");
  }
}

.advantages__item-wrapper {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 39px;
  }

  grid-column: 1/2;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.advantages__title {
  margin: 0;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  position: relative;

  &::before {
    display: block;
    content: "— №" counter(advantages) " —";
    margin-bottom: 21px;
  }
}

.advantages__city-benefits {
  padding: 9px 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}


.city-advantages__hide {
  display: none;
}
