.advantages {
  margin: 0;
  text-align: center;
  position: relative;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.advantages__wrapper {
  max-width: 500px;
  margin: 0 11px 13px 11px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.advantages__slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages__text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  counter-reset: advantages;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/index/advantages_triangle.svg");
      background-position-x: center;
      background-position-y: bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 37px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 54px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 0 0 0;
  }
}

.advantages__item {
  background-color: $basic-grey-200;
  counter-increment: advantages;
  position: relative;
  box-sizing: border-box;
  min-height: 256px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    padding: 26px 22px;
    min-height: 117px;
  }

  &:nth-child(n+3):not(:last-child) {
    position: relative;

    @media (max-width: $mobile-width-only) {
      &::after {
        position: absolute;
        content: "";
        width: calc(100% - 40px);
        height: 1px;
        background-color: #d6d6d6;
        left: 20px;
        bottom: 0;
      }
    }
  }

  &:nth-child(n+3) {
    .advantages__item-wrapper {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: auto 43px auto 42px;
  }
}

.advantages__nowrap {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__item--image {
  background-color: $basic-blue;
  color: $basic-white;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 37px;

    &:first-child {
      padding-top: 71px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &::after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    grid-column: span 2;
    min-height: 256px;

    @media (max-width: $mobile-width-only) {
      min-height: 260px;
    }
  }
}

.advantages__item--image:first-child::after {
  background-image: url("../../img/index/photo-city-tablet@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-city-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/photo-city-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-city-desktop@2x.jpg");
  }
}

.advantages__item--image:nth-child(2)::after {
  background-image: url("../../img/index/photo-bridge-tablet@1x.jpg");
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-bridge-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/photo-bridge-desktop@1x.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../img/index/photo-bridge-desktop@2x.jpg");
  }
}

.advantages__item-wrapper {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 32px;
    min-height: 117px;
  }
  min-height: 170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.advantages__title {
  margin: 0 0 12px 0;
  line-height: 26px;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    max-width: 195px;
  }

  @media (min-width: $desktop-width) {
    max-width: 290px;
  }

  &::before {
    display: block;
    content: "— №" counter(advantages) " —";
    margin-bottom: 21px;
  }
}

.advantages__city-benefits {
  background-color: $basic-white;

  @media (max-width: $mobile-width-only) {
    order: 1;
    padding: 26px 20px 30px 71px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding: 0 15px 60px 15px;
  }

  @media (min-width: $desktop-width) {
    //max-width: 290px;
    padding: 0 15px 73px 15px;
  }
}


.city-advantages__hide {
  display: none;
}
