.advantages {
  margin: 0;
  margin-bottom: 58px;
  text-align: center;
}

.advantages__wrapper {
  max-width: 483px;
  margin: 0 auto;
}

.advantages__slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.advantages__text {
  line-height: 26px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  background-color: $basic-grey-200;
}

.advantages__title {
  margin: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__image {
  display: block;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.advantages__item--image:nth-child(2n) .advantages__image {
  order: -1;
}

.advantages__item--image {
  background-color: $basic-blue;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__city-benefits {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
