.benefits {
  list-style-type: none;
  margin: 0;
  background-color: $basic-white;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.benefits__item {
  text-align: left;
  position: relative;
  margin: 15px 0 15px 50px;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: -50px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 75px;
      top: -98px;
      left: calc(50% - 38px);
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-left: 0;
    margin-top: 158px;
  }
}

.benefits__item--housing {
  &::before {
    background-image: url("../../img/icon/icon-house.svg");
  }
}

.benefits__item--souvenirs {
  &::before {
    background-image: url("../../img/icon/icon-burger.svg");
  }
}

.benefits__item--meal {
  &::before {
    background-image: url("../../img/icon/icon-gift.svg");
  }
}

.benefits__title {
  margin: 0;
  padding-top: 11px;
}

.benefits__description {
  margin: 0;
  padding-top: 20px;
}
