.benefits {
  list-style-type: none;
  margin: 0;
  background-color: $basic-white;
  color: $basic-dark;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
}

.benefits__item {
  text-align: left;
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: -50px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 75px;
      top: -100px;
      left: calc(50% - 40px);
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-left: 0;
    margin-top: 158px;
  }
}

.benefits__item--housing {
  &::before {
    background-image: url("../../img/icon/icon-house.svg");
  }
}

.benefits__item--souvenirs {
  &::before {
    background-image: url("../../img/icon/icon-gift.svg");
  }
}

.benefits__item--meal {
  &::before {
    background-image: url("../../img/icon/icon-burger.svg");
  }

  @media (max-width: $mobile-width-only) {
    order: 1;
  }
}

.benefits__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 10px;
}

.benefits__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding-top: 16px;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    max-width: 195px;
  }

  @media (min-width: $desktop-width) {
    max-width: 290px;
  }
}
