.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $basic-white;
  background-color: $basic-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

.button--disabled {
  background-color: $grey-disabled;

  &:hover,
  &:active {
    background-color: $grey-disabled;
  }
}
