.capture-unit {
  margin: 0 20px 49px 20px;
  text-align: center;
}

.capture-unit__title {
  margin-top: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.capture-unit__description {
  line-height: 18px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.capture-unit__button {
  width: 100%;
  max-width: 280px;
  padding-top: 15px;
  padding-bottom: 17px;
  margin: 0 auto;
}
