.page-footer__copyright {
  margin-top: 0;
  padding-top: 0;
}

.copyright__text {
  display: inline-flex;
  align-items: center;
  line-height: 26px;
  margin: 0;
}

.copyright__link {
  display: inline-flex;
  align-items: center;
  line-height: 26px;
  color: $basic-dark;
  margin: 0;

  &:hover,
  &:active {
    color: $basic-blue;
  }

  &:focus {
    color: $basic-dark;
    opacity: 0.3;
  }
}

.copyright__logo {
  margin-left: 15px;
}
