.description {
  text-align: center;
}

.description-wrapper {
  min-width: 320px;
  max-width: 434px;
}

.description__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.description__text {
  line-height: 24px;
}
