.form-review__item {
  border: 0;
}

.form-review__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.form-review__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
