.gallery-card__title {
  font-weight: bold;
  line-height: 24px;
}

.gallery-card__author {
  line-height: 24px;
  text-transform: none;
}

.gallery-card__count-likes {
  font-weight: bold;
  line-height: 24px;
}
