.intro {
  padding-top: 56px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.intro__wrapper {
  background-color: $grey-disabled;
  width: 100%;
  min-height: 389px;
  position: relative;
  background-image: url("../../img/index/intro-triangle.svg"), url("../../img/index/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover, 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/intro-triangle.svg"), url("../../img/index/back-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    width: 282px;
    height: 214px;
    left: calc(50% - 141px);
    top: 90px;
    background-image: url("../../img/index/text-index-mobile.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/text-index-mobile@2x.png");
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      width: 461px;
      height: 350px;
      top: 77px;
      left: calc(50% - 230px);
      background-image: url("../../img/index/text-index-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index/text-index-tablet@2x.png");
        background-size: contain;
      }
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/index/intro-triangle.svg"), url("../../img/index/background-intro@1x.jpg");
    min-height: 518px;
    background-size: 100%, cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/intro-triangle.svg"), url("../../img/index/background-intro@2x.jpg");
    }
  }
}
