.modal {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 -1px 4px rgba(0, 0, 0, 0.25);
  background-color: $basic-white;
}

.modal-failure--closed,
.modal-success--closed {
  display: none;
}

.modal-failure {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 400px;
    position: absolute;
    top: 1430px;
    left: calc(50% - 200px);
    padding-bottom: 30px;
  }
}

.modal-success {
  @media (min-width: $tablet-width) {
    width: 640px;
    position: absolute;
    top: 1269px;
    left: calc(50% - 320px);
  }
}

.modal__wrapper {
  text-align: center;
  margin: 40px 42px 0 41px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.modal__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 40px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;

    br {
      display: block;
    }
  }
}

.modal__text {
  @media (min-width: $tablet-width) {
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.button-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button-wrapper--grey {
  background-color: $basic-grey-100;

  @media (min-width: $tablet-width) {
    padding: 44px;
  }

  .modal__button {
    min-width: 458px;
  }
}

.modal__button {
  padding: 18px 65px 14px 65px;
  min-width: 180px;

  @media (min-width: $tablet-width) {
    min-width: 280px;
  }
}
