.page-footer {
  margin: 36px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
  }
}

.page-footer__contacts {
  margin-bottom: 33px;
}

.page-footer__social {
  margin-bottom: 33px;
}
.contacts__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.copyright__text {
  line-height: 26px;
  margin: 0;
}
