.page-inner {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}


.page-inner--form {
  @media (min-width: $desktop-width) {
    width: 960px;
  }
}
