.page {
  height: 100%;
  background-color: $basic-grey-100;
}

.page__body {
  background-color: $basic-white;
  box-shadow: 0px 5px 15px $basic-dark-shadow;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $basic-dark;
  text-transform: uppercase;
}
