.page-footer {
  margin: 36px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
    margin: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 36px auto;
    width: 100%;
    max-width: 960px;
  }
}

.page-footer__contacts,
.page-footer__social {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 33px;
  }
}

.contacts__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.page-footer__contacts {
  text-align: left;
}

.page-footer__copyright {
  text-align: right;
}

.page-footer__contacts,
.page-footer__copyright {
  @media (max-width: $mobile-width-only) {
    text-align: center;
  }
}
