.page {
  height: 100%;
  background-color: $basic-grey-100;
}

.page__wrapper {
  background-color: $basic-white;
  box-shadow: 0px 5px 15px $basic-dark-shadow;
  width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $basic-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
