.page-footer {
  margin: 36px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
  }
}

.contacts__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
