.panel__bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgba($basic-dark, 0.6);
  position: relative;
  margin-top: -45px;

  @media (min-width: $tablet-width) {
    height: 93px;
    margin-top: -93px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.panel__scale {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgba($basic-white, 0.2);
  margin: 0 23px 0 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 166px 0 93px;
  }

  @media (min-width: $desktop-width) {
      width: 540px;
  }
}

.panel__handle {
  display: block;
  width: 11px;
  height: 11px;
  background-color: $basic-white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 6px);
  left: 36px;

  @media (min-width: $tablet-width) {
    left: 28%;
  }
}

.panel__handle {
  &:hover {
      background-color: rgba($basic-white, 0.6);
  }

  &:active {
      background-color: rgba($basic-white, 0.3);
  }
}

.panel__controls {
  background-color: $basic-grey-100;
  padding: 15px 23px 23px 25px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 10px;
  }
}

.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $basic-grey-100;
  z-index: 1;
  color: $basic-grey-700;

  svg {
    fill: currentColor;
  }

  &:hover svg,
  &:active svg {
    fill: $basic-grey-500;
  }

  &:focus svg {
    fill: rgba($basic-grey-500, 0.3);
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;


    svg {
      fill: $basic-white;
    }

    &:hover svg,
    &:active svg {
      fill: rgba($basic-white, 0.6);
    }

    &:focus svg {
      fill: rgba($basic-white, 0.3);
    }
  }
}

.panel-button--subtitles {
  margin-right: 20px;
  margin-left: auto;
}
