.selection-form {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.radio__label,
.checkbox__label {
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: $basic-dark;
}

.selection-form__field {
  min-height: 48px;
  margin: 25px 0;
  display: flex;

  &:first-child {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 30px 0;
  }
}

.selection-form__field--attractions {
  @media (min-width: $tablet-width) {
    flex-basis: 40%;
    margin: 0 25px 40px 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;

    &:nth-child(even) {
      justify-content: start;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
    min-width: 226px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    outline: 5px solid black;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}
