.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.social__item {
  margin-right: 3px;
  margin-left: 3px;
}

.social__link {
  width: 46px;
  height: 48px;
}

.social__link svg {
  fill: $basic-white;
}

.social__link:focus svg {
  opacity: 0.3;
}
