@font-face {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PTSans"),
    url("../../fonts/PTSans.woff2") format("woff2"),
    url("../../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("PTSans-Bold"),
    url("../../fonts/ptsansbold.woff2") format("woff2"),
    url("../../fonts/ptsansbold.woff") format("woff");
}
