// Colors

$basic-white: rgba(255, 255, 255, 1);
$basic-grey-100: #f2f2f2;
$basic-grey-200: #eeeeee;
$basic-grey-300: #e5e5e5;
$basic-grey-400: #eaeaea;
$basic-grey-500: #333333;
$basic-blue: #81b3d2;
$blue-hover:#669ec0;
$blue-active: #5496bd;
$basic-dark: #000000;
$basic-dark-shadow: rgba(0, 1, 1, 0.2);
$basic-dark-shadow-200: rgba(0, 1, 1, 0.3);
$grey-disabled: #e5e5e5;

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
