$basic-white-100: rgba(255, 255, 255, 0.3);
$basic-white-200: rgba(255, 255, 255, 0.9);
$basic-white-300: #ffffff;
$basic-grey-100: #f2f2f2;
$basic-grey-200: #ebebeb;
$basic-grey-250: #bdbbbc;
$basic-grey-300: #a9a9a9;
$basic-grey-350: #6a6a6a;
$basic-grey-400: #eeeeee;
$basic-grey-500: #888888;
$basic-grey-600: #666666;
$basic-grey-700: #333333;
$basic-grey-800: #ababab;
$basic-grey-850: #cacaca;
$basic-grey-900: #e5e5e5;
$basic-blue: #81b3d2;
$basic-blue-hover: #669ec0;
$basic-blue-active: #5496bd;
$basic-brown: #766357;
$basic-brown-hover:#604e43;
$basic-brown-active: #503e33;
$basic-dark: #000000;
$basic-dark-100: rgba(0, 1, 1, 0.2);
